<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>最新动态 news</h2>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  
  {% for tag in site.tags %}

  {% if tag[0] == 'news' %}
  {% for post in tag[1] limit: 9 %}
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">  {% include post-card.html %}  </div>
  {% endfor %}
  {% endif %}
  {% endfor %}

</div>

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>图文集锦 moments</h2>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  
  {% for tag in site.tags %}

  {% if tag[0] == 'moment' %}
  {% for post in tag[1] limit: 9 %}
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">  {% include post-card.html %}  </div>
  {% endfor %}
  {% endif %}
  {% endfor %}

</div>


<h2>     电子周报 weekly </h2>
<center>  <span class="d-inline-block f5 rounded-2 text-white bg-blue py-1 px-2"> 2020 </span>  </center>
<div class="d-sm-flex flex-wrap gutter-condensed mb-1">
  {% for file in site.static_files %}
  {% if file.path contains "/assets/weekly/2020" and file.extname == ".pdf" %}

  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 ">
    <!-- the total should add up to 12. xs (phones), sm (tablets), md (desktops), and lg (larger desktops)  --->
   <a href="{{ file.path }}" target="_blank"> {{ file.basename | remove: "週報" | remove: "ﬂLàÛ" }} </a> 
  &nbsp;&nbsp;  &nbsp;&nbsp;
  </div>
  {% endif %}
  {% endfor %}
</div>
<center>  <span class="d-inline-block f5 rounded-2 text-white bg-blue py-1 px-2"> 2019 </span>  </center>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for file in site.static_files %}
  {% if file.path contains "/assets/weekly/2019" and file.extname == ".pdf" %}

  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2 ">
    <!-- the total should add up to 12. xs (phones), sm (tablets), md (desktops), and lg (larger desktops)  --->
   <a href="{{ file.path }}"> {{ file.basename | remove: "週報" | remove: "ﬂLàÛ" }} </a> 
  &nbsp;&nbsp;  &nbsp;&nbsp;
  </div>
  {% endif %}
  {% endfor %}

</div>
