<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>主日讲道 Sunday Worship</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  最新视频/完整视频列表请参考
  <a href="https://www.youtube.com/user/ZhangDanFanClub/videos" target="_blank"> YouTube </a>
</p>


<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  
  {% for tag in site.tags %}

  {% if tag[0] == 'sunday-worship' %}
  {% for post in tag[1] limit: 9 %}
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">  {% include post-card.html %}  </div>
  {% endfor %}
  {% endif %}
  {% endfor %}

</div>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>牧者家书 letters</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
「牧者家書」是劉飛/湧流傳道每周根據恩聯教會量身而寫的
靈性文，與講壇信息相輔相依、互爲一體。請大家一定要讀而思考，翻閱
聖經，作爲個人靈修、查考之用。以日積月累的好習慣，在真實的道理上
操練敬虔，構建思想及行爲模式。
</p>


<!-- not in use anymore. Use the pdf files directly
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">  
  {% for tag in site.tags %}

  {% if tag[0] == 'letter' %}
  {% for post in tag[1] limit: 9 %}
  <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">  {% include post-card.html %}  </div>
  {% endfor %}
  {% endif %}
  {% endfor %}
</div>
-->

<div class="d-sm-flex flex-wrap gutter-condensed mb-1">
  {% for file in site.static_files %}
  {% if file.path contains "/assets/letters/" and file.extname == ".pdf" %}

  <div class="col-sm-6 col-md-6 col-lg-3 col-xl-4 ">
    <!-- the total should add up to 12. xs (phones), sm (tablets), md (desktops), and lg (larger desktops)  --->
  <li> <a href="{{ file.path }}" target="_blank"> {{ file.basename | remove: "週報" | remove: "ﬂLàÛ" }} </a> </li>
  &nbsp;&nbsp;  &nbsp;&nbsp;
  </div>
  {% endif %}
  {% endfor %}
</div>



<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>查经资料</h2>

<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>
