

<div class="container" style="width:100%">
  <center>
    {% for slide in site.slideshow limit:6 %}
    <div class="mySlides">
      <div class="numbertext">1 / 6</div>
      {% if slide.href %} <a href="{{ slide.href }}">{% endif %}
	<img src="/assets/slideshow/{{ slide.src }}" style="width:100%">
	{% if slide.href %} </a> {% endif %}
    </div>
    {% endfor %}
  </center>
  
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    {% for slide in site.slideshow limit:6 %}
    <div class="column">
      <img class="demo cursor" src="/assets/slideshow/{{ slide.src }}" style="height:60px" onclick="currentSlide({{ forloop.index }})" 
	   {% if slide.alt %} alt="{{ slide.alt }}" {% else %} alt="{{ slide.src }}" {% endif %}
	   >
    </div>
    {% endfor %} 
  </div>
  
</div>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
      showSlides(slideIndex += n);
  }

  function currentSlide(n) {
      showSlides(slideIndex = n);
  }

  function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
	  slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
	  dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
  }
</script>
